# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Data files
*.csv
!data/*.csv
results/
temp_*.csv
doc/
api/data/


# Environment
.env
.env.local
.env.example
api/.env
api/.env.local
api/.env.local
api/.env.example
frontend/.env
frontend/.env.local
frontend/.env.example


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
